@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --black: black;
    --green: #D2FF00;
    --grey: #22262E;

}

html, body{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    background-image: url('./img/alexandre-st-louis-8gQ3awNLDOY-unsplash.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Heading */
.heading {
    display: grid;
    place-content: center;
    text-align: center;
    background-color: var(--black);
    padding: 2rem;
}

.font {
    color: white;
}

/* Form */
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 4vw;
    background: rgba(0, 0, 0, 0.89);
    padding: 3vw;
    
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.error {
    color: red;
    font-weight: 900;
    font-size: 14px;
}

.errorIN {
    outline: 2px red solid;
}

label, input {
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
}

input {
    color: black;
}

label[class="req"]::after {
    content: " *";
    color: red;
}   

label[ for='mName']::after {
    content: ' (optional)';
    color: rgb(255, 255, 255);
    font-size: 1rem;
    opacity: .9;
}

input {
    border: none;
    padding-left: 1vw;
    outline: 1px rgb(0, 0, 0) solid;
}

input:focus {
    outline: 3px solid var(--green);
}

div.submit {
    text-align: center;
    font-size: 1.2rem;
    padding: 10px;
    color: black;
    font-weight: 900;
    border: none;
    width: 100px;
    background-color: var(--green);
}

div.submit:hover {
    cursor: pointer;
}
.twocol {
    display: block;
}

@media only screen and (min-width: 900px) {
    .heading {
        padding: 4rem;

    }

    .font.h1{
        font-size: 4rem;
    }

    .font.h2 {
        font-size: 2rem;
    }

    label {
        font-size: 1.5rem
    }

    input {
        height: 2em;
        width: 600px;
    }
    

}